/* Home.css */
.home-container {
    background-image: url('../images/WhatsApp\ Image\ 2024-08-24\ at\ 1.47.04\ PM.jpeg'); /* Adjust the path to your image */
    background-size: cover;
    height: 100vh; 
    justify-content: center;
    align-items: center;
  }
  .container {
    padding-top: 20px;
  }

  .sel-detail{
    font-size: 10px;
    
  }

  .cus-bg{
    background-color: rgba(13, 110, 253, 0.25);
  }